<footer>
    <ul>
      <h2>LADO A</h2>
      <h4>Vinyl Company</h4>
      <img src="/img/Logo.png" class="logo-footer">
    </ul>
    <ul>
      <li>
        <h4>Ayuda y FAQ</h4>
      </li>
      <li><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></li>
      <li><a href="#">Copyright y permisos de autor</a></li>
      <li><a href="#">Reportar un problema</a></li>
    </ul>
    <ul>
      <li>
        <h4>Mi Cuenta</h4>
      </li>
      <li><a href="#">Perfil</a></li>
      <li><a href="#">Ultimas visitas</a></li>
      <li><a href="#">Modificar preferencias</a></li>
    </ul>
    <ul>
      <li>
        <h4>Vinilos por categoría</h4>
      </li>
      <li><a href="#">Por género</a></li>
      <li><a href="#">Por ventas</a></li>
      <li><a href="#">Por artista</a></li>
    </ul>
    <div class="social-foot">
      <button><span><i class="gg-instagram"></i></span></button>
      <button><span><i class="gg-google"></i></span></button>
      <button><span><i class="gg-facebook"></i></span></button>
      <button><span><i class="gg-twitter"></i></span></button>
    </div>
  </footer>