<header>
  <div class="top-header">
    <a href="/"><img src="/img/Logo.png" class="logo"></a>
    <form action="/producto/find" method="GET">
      <input type="text" name="find" placeholder="Buscar artículos o géneros">
      <input type="submit" value="Buscar">
    </form>
    <ul class="user-panel">
      <% if(locals.userData) { %> 
        <li><i class="gg-calendar-next"></i><a href="/usuario/detalle/<%=locals.userData.id%>">Hola! <%=locals.userData.Nombreapellido%></a></li>
        <% } else { %> 
      <li><i class="gg-calendar-next"></i><a href="/usuario/login">Ingresar</a></li>
      <li><i class="gg-add-r"></i><a href="/usuario/register">Registro</a></li>
      <% } %>
      <li><i class="gg-shopping-cart"></i><a href="/producto/carrito">Carrito</a></li>
    </ul>
  </div>
  <button><i class="gg-sort-az"></i></button>
  <div class="navegador">
    <ul>
      <li></i><a href="#">Home</a></li>
      <li></i><a href="#">Lo mas vendido</a></li>
      <li></i><a href="#">Discos por género</a></li>
      <li></i><a href="/producto/lista">Listado de Productos</a></li>
      <li></i><a href="/producto/crear">Crear producto</a></li>
      <li></i><a href="/usuario/lista">Listado usuarios</a></li>
      <li></i><a href="#">Contacto</a></li>
    </ul>
  </div>
</header>