<%- include("./partials/head") %>

            <body>     
                <%- include("./partials/header") %> 
                <div class="container-login">
                    <h1>Necesitas logearte para realizar esta accion</h1>
                    <a href="/usuario/login"><h2>Haz click aquí para ir al login</h2></a>
                </div>
            <%- include("./partials/footer") %>
    </body>

    </html>