<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
        <div class="container-login">
            <form action="/" method="get" class="pregFrec">
                <h3>Preguntas Frecuentes</h3>
               
                    <ul>
                        <li></i><a href="#">¿Cómo pagar tu compra?</a></li>
                        <li></i><a href="#">¿Cómo recibir el producto?</a></li>
                        <li></i><a href="#">¿Cómo retirar el producto?</a></li>
                        <li></i><a href="#">Telefonos de contacto</a></li>
                        <li></i><a href="#">Resolver problemas con una compra</a></li>
                        <li></i><a href="#">Garantía</a></li>
                    </ul>
              
            </form>
        </div>
            <%- include("./partials/footer") %>
    </body>

    </html>