<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <div class="container-login">
                <div class="headerCarro">
                    <h1>Carrito de productos</h1>
                    <p>Estos son los articulos actualmente en tu carrito: </p>
                </div>
                <form action="/" method="get" class="formularioCompra">
                    <%- include("./partials/productArrayCart") %>
                        <div class="finalCosto">
                            <h2 class="precioTotal">Costo total: 187.66$</h2>
                            <button type="submit" class="botonCompra">Comprar todo</button>
                        </div>
                </form>
            </div>
            <%- include("./partials/footer") %>

                </html>