<%- include("./partials/head")  %>

<body>
    <%- include("./partials/header")  %>
    <div class="container-login">
    <div class="headerCarro">
    <h1>Listado de productos</h1>
    <p>Estos son los productos actualmente listados: </p>
    </div>
    <div class="formularioCompra">
            <%- include("./partials/productArrayList") %>
    </div>
</div>
    <%- include("./partials/footer")  %>
</html>