<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <div class="container-login">
                <div class="headerCarro">
                    <h1>Listado de Usuarios</h1>
                    <p>Estos son los usuarios actualmente registrados: </p>
                </div>
                <div class="formularioCompra">
                    <%- include("./partials/userListArray") %>
                </div>
            </div>
            <%- include("./partials/footer") %>

                </html>